name: Release
on:
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    name: Release
    steps:
      - uses: catalystcommunity/action-semantic-release-general@v1
        with:
          token: ${{ secrets.AUTOMATION_PAT }}